*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    /* justify-content: center; */
    /* align-items: center; */
}
body{
    /* background-color: rgba(207, 109, 64, 0.764); */
    /* background-c;
     */
     background-color: antiquewhite;
    justify-content: center;
    display: flex;
}
.contentcontainer{
    border: 2px solid red;
    height: 80vh;
    width: 100vh;
    margin: 15rem;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* transform: translate(-50%,-50%); */
}
.uppercontainer{
    /* border: 2px solid yellow; */
    justify-items: center;
}
.uppercontainer>h1{
    align-items: center;
    font-size: 50px;
    white-space: nowrap;
    padding: 1.8rem 1rem;
    /* padding: 0.4rem ; */
}
.inputcontainer{
    display: flex;
    padding: 1rem  1rem;
    justify-content: space-around;
}